{% extends 'main/base.html' %}

{% block title %}
Просмотр закона
{% endblock %}

{% block content %}
    <h1>Просмотр законов движения</h1>
    <a href="{% url 'LawCreateView' %}">Добавить закон движения</a>
   {% if object_list %}
        {% for law_for_platform in object_list %}
        <div class="post-entry">
          <h2><a href="{% url 'LawDetailView' law_for_platform.pk %}">Наименование закона движения: {{ law_for_platform.law_type_plat }}</a></h2>
                <p>Описание закона движения: {{ law_for_platform.discription_law }}</p>
                <p>Описание закона движения JSON: {{ law_for_platform.discription_lawJSON }}</p>
                <p>Движение по оси х: {{ law_for_platform.dx }}</p>
                <p>Движение по оси y: {{ law_for_platform.dy }}</p>
                <p>Движение по оси z: {{ law_for_platform.dz }}</p>
                <p>Угол поворота PHI: {{ law_for_platform.phi }}</p>
                <p>Угол поворота THETA: {{ law_for_platform.theta }}</p>
                <p>Угол поворота PSI: {{ law_for_platform.psi }}</p>
{#                <p>Сформированный закон движения: {{ law_for_platform.coordinates_t }}</p>#}
                <p>Пользователь: {{ law_for_platform.author }}</p>
                <p>Создано: {{ law_for_platform.time_create }}</p>
                <p>Изменено: {{ law_for_platform.time_update }}</p>
        </div>
        {% endfor %}
    {% else %}
            <p>У нас нет записей</p>
    {% endif %}
{% endblock %}