{% extends 'main/base.html' %}

{% block title %}
Просмотр платформы
{% endblock %}

{% block content %}
    <h1>Просмотр платформы</h1>
        <div class="post-entry">
            <h2><a href="">{{ stewart_platform.title_platform }}</a></h2>
                <p>Система: {{ stewart_platform.system_stewart_platform }}</p>
                <p>Закон движения: {{ stewart_platform.law_type }}</p>
                <p>Закон движенияjson: {{ stewart_platform.law_type.discription_lawJSON }}</p>
{#                <p>Сформированный закон движения: {{ stewart_platform.discription_platform }}</p>#}
{#                <p>Сформированный закон движенияJSON: {{ stewart_platform.discription_platformJSON }}</p>#}
                <p>Длина кривошипа: {{ stewart_platform.SERVO_HORN }}</p>
                <p>Длина стержня: {{ stewart_platform.SERVO_ROD }}</p>
                <p>Радиус платформы: {{ stewart_platform.PLATFORM_RADIUS }}</p>
                <p>Высота базового модуля: {{ stewart_platform.PLATFORM_DEFAULT_HEIGHT }}</p>
                <p>Базовая высота: {{ stewart_platform.BASE_DEFAULT_HEIGHT }}</p>
                <p>Пользователь: {{ stewart_platform.author }}</p>
                <p>Добавлено: {{ stewart_platform.time_create }}</p>
                <p>Изменено: {{ stewart_platform.time_update }}</p>
         </div>

  <a href='{% url 'platformEditView' stewart_platform.pk %}'>Редактирование платформы</a>
  <p><a href='{% url 'platformDeleteView' stewart_platform.pk %}'>Удаление платформы</a></p>

  <div>
      <h3 class="fs-2">Передать параметры платформы (REST API)</h3>
      <a href="http://127.0.0.1:8000/api/platform/" class="btn btn-primary">Передать!</a>
  </div>
{% endblock %}